:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-background: #1B262C;
    --section-background: #1e1e1e;
    --link-color: #00B7C2;
    --hover-color: #80deea;
    --project-background: #1B262C;
    --project-hover-background: #333333;
    --project-p-color: #e0e0e0;
}

/* Light theme styles */
body.light {
    --background-color: #aaaaaa;
    --text-color: #333;
    --header-background: #4b768d;
    --section-background: #ffffff;
    --link-color: #00B7C2;
    --hover-color: #007B8D;
    --project-background: #aaaaaa;
    --project-hover-background: #f0f0f0;
    --project-p-color: #121212;
}

/* Collapsible section styling for mobile only */
@media (max-width: 768px) {
    .switch {
        display: none; /* Hide on mobile */
    }
}

/* Collapsible section styling for mobile only */
@media (max-width: 768px) {
    /* Hide content by default on mobile */
    .collapsible-content {
        display: none; /* Hide sections by default on mobile */
        padding: 10px;
        transition: max-height 0.3s ease-out;
    }

    /* Make headers look clickable */
    .collapsible-section h2 {
        cursor: pointer;
        background-color: var(--header-background);
        padding: 10px;
        border-radius: 5px;
    }

    /* Open class to show content */
    .collapsible-content.open {
        display: block; /* Show content when open */
    }
}

/* For larger screens, keep content visible */
@media (min-width: 769px) {
    .collapsible-content {
        display: block; /* Ensure content is always visible on larger screens */
    }
}

html {
    scroll-behavior: smooth;
}

header {
    animation: fadeInDown 0.8s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    padding: 30px 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: var(--section-background);
    border-radius: 10px; /* Soft corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00b7c2; /* Accent color for headings */
    font-weight: 600;
}
